:root {
  --color-1: #000814;
  --color-2: #001d3d;
  --color-3: #003566;
  --color-4: #ffc300;
  --color-5: #ffd60a;
  --color-white: #ededed;
  --color-green: #40c057;
  --color-red: #c2255c;
}

html {
  font-size: 62.5%;
}
html, body {
  position: relative;
}

body {
  user-select: none;
  font-family: "Patrick Hand SC", cursive !important;
  height: 95vh;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background:var(--color-1);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1.5rem;
}

.menu input {
  visibility: hidden;
}

.menu--level-box {
  width: 20rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.menu--level-box::before {
  content: 'Zadania łatwe';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-3);
}

.menu input[type="checkbox"]:checked ~.menu--level-box::before{
  content: 'Zadania trudne';
}

.menu--level-circle {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  animation: move-left 1.5s ease-in-out;
  animation-fill-mode:forwards;
  z-index: 10;
}
.bug-icon {
  stroke: var(--color-3);
  transition: all 1.5s;
  background-color: #fff;
  z-index: 10;
}

.menu input[type="checkbox"]:checked ~.menu--level-box span .bug-icon {
  stroke: var(--color-2);
}

.menu input[type="checkbox"]:checked ~.menu--level-box span{
  animation: move-right 1.5s ease-in-out;
  animation-fill-mode:forwards;
}
@keyframes move-right {
  0% {
    transform: translate(0) rotate(90deg);
  }
  90% {
    transform: translate(15rem) rotate(90deg);
  }
  97% {
    transform: translate(16rem) rotate(0deg);
  }
  98% {transform: translate(16rem) rotate(-10deg);}
  99% {transform: translate(16rem) rotate(10deg);}
  100% {transform: translate(16rem) rotate(0deg);}
}
@keyframes move-left {
  0% {transform: translate(16rem) rotate(-90deg);
    
  }
  90% {
    transform: translate(1rem) rotate(-90deg);
  }
  97% {
    transform: translate(0) rotate(0deg);
  }
  98% {transform: translate(0) rotate(-10deg);}
  99% {transform: translate(0) rotate(10deg);}
  100% {transform: translate(0) rotate(0deg);}
}

.swiper {
  width: 30rem;
  height: 25rem;
  margin-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--color-3);
  border-radius: 2px;
}
.wrapper span {
  font-size: 4rem;
  border-bottom: 1px solid transparent;
}
.wrapper span:nth-child(5){
  border-bottom: 1px solid var(--color-4);
  display: inline-block;
  width: 5rem;
}
.comment {
  margin-top: 2rem;
  font-size: 3rem;
  color: var(--color-green);
  transform: translateY(10rem);
  opacity: 0;
  visibility: hidden;
  
}
.correct-comment {
  visibility: visible;
  animation: move-comment 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes move-comment {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.correct-input {
  animation: correct-input 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes correct-input {
  0% {
  border-color: transparent;
  font-weight: inherit;
  transform: scale(0);
  color: inherit
  }
  50% {
    transform: scale(1.5);
    border-color: transparent;
  }
  100% {
    border-color: var(--color-green);
  font-weight: 500;
  transform: scale(1.2);
  color: var(--color-green)
  }
}
.wrong-comment {
  visibility: visible;
  animation: move-comment-wrong 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes move-comment-wrong {
  0% {
    color: var(--color-red);
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    color: var(--color-red);
  }
}
.wrong-input {
  animation: wrong-input 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes wrong-input {
  0% {
  color: var(--color-red);
  border-color: transparent;
  font-weight: inherit;
  transform: scale(1);
  color: inherit
  }
  50% {
    transform: scale(1.2);
    border-color: transparent;
  }
  100% {
  border-color: transparent;
  font-weight: 500;
  transform: scale(0.5);
  opacity: 0.3;
  color: var(--color-red);
  }
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.3rem;
  column-gap: 0.3rem;
}
.btn:last-child {
  grid-template-columns: 2 / 4;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--color-5);
  border: 1px solid var(--color-5);
  border-radius: 20px;
  width: 8rem;
  height: 6rem;
  transition: all 0.1s;
}
[data-number="submit"] {
  color: var(--color-green);
  font-weight: 900;
}
[data-number="clear"] {
  color: var(--color-red);
  font-weight: 900;
}
.btn:active{
  background-color: var(--color-4);
  color: var(--color-2)
}